@mixin button {
  width: 160px;
  height: 50px;
  background: #D1A954;
  border: none;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  box-shadow: 0 10px 15px -7px rgba(0, 0, 0, 0.43);
  transition: .3s;
  &:hover{
    transform: translateY(5px);
    box-shadow: 0 -10px 15px -7px rgba(0, 0, 0, 0.46);
    cursor: pointer;
  }
}

@mixin tegh1 {
  margin-bottom: 6%;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $whitecolor;
  span {
    color: $goldcolor;
  }
}